@font-face {
	font-family:'FontAwesome';
	src:url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
		url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Gotham HTF Thin';
	src:url('fonts/hinted-GothamHTF-Thin.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Thin.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Thin.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Thin.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Thin.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Thin.svg?v=4.7.0#GothamHTF-Thin') format('svg');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:'Gotham HTF Book';
	src:url('fonts/hinted-GothamHTF-Book.eot?v=4.7.0');
	src:url('fonts/hinted-GothamHTF-Book.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('fonts/hinted-GothamHTF-Book.woff2?v=4.7.0') format('woff2'), 
		url('fonts/hinted-GothamHTF-Book.woff?v=4.7.0') format('woff'),
		url('fonts/hinted-GothamHTF-Book.ttf?v=4.7.0') format('truetype'),
		url('fonts/hinted-GothamHTF-Book.svg?v=4.7.0#GothamHTF-Book') format('svg');
	font-weight:normal;
	font-style:normal;
}