//ANCHO

@media screen and (max-width: 1280px){
	
	.newDayContent {
		.container {
			img {
				transform: scale(.9);
				&.gallery01 {
					// top: -4em;
				}
				&.gallery02 {
					// top: -6em;
					// right: 20em;
				}
				&.gallery03 {
					// top: 11em;
					// right: 19em;
				}
				&.gallery04 {
					// top: 12em;
				}
				&.gallery05 {
					// right: 22em;
				}
			}
		}
	}

}

@media screen and (max-width: 1024px){
	.newDayContent {
		.container {
			.box {
				&.left {
					width: 55%;
					// height: 85%;
				}
			}
		}
	}
}

@media screen and (max-width: 1280px) and (max-height: 600px){
	.newDayContent {
		.container {
			.box {
				&.left {
					// width: 55%;
					height: 85%;
				}
			}
		}
	}

	.colors {
		.box.left {
			ul li {
				span.color {
					height: 2.5em;
				}
			}
		}
	}
}































///////////////////////////////////////////////////////////////////////////////////
//ALTO
@media screen and (max-height: 730px){

}
@media screen and (max-height: 400px){

}
///////////////////////////////////////////////////////////////////////////////////
//MOBILE
@media screen and (max-width: 768px){
	
}
// ADDS
@media screen and (max-width: 375px){

}
@media screen and (max-width: 340px){

}
