//IMPORTACIONES
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700";
@import 'normalize';
@import "fonts";
@import "font-awesome";
@import "../../libs/lity/lity.css";
@import "../../libs/slick/slick.css";
///////////////////////////////////////////////////////////////////////////////////
//COLORES
$hopbush: #B55994;
$frenchlilac: #FFD5FF;
///////////////////////////////////////////////////////////////////////////////////
//FUENTES

///////////////////////////////////////////////////////////////////////////////////
//FUNCIONES
@mixin centerscreen() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin transition($transition) {
	transition: all ease-in-out $transition;
}
/*@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin scale($scale) {
	-moz-transform: scale($scale);
	-webkit-transform: scale($scale);
	-o-transform: scale($scale);
	-ms-transform: scale($scale);
	transform: scale($scale);
}
@mixin transition($transition) {
	-webkit-transition: all ease-in-out $transition;
	-moz-transition: all ease-in-out $transition;
	-o-transition: all ease-in-out $transition;
	transition: all ease-in-out $transition;
}
@mixin opacity($nAb, $nDec) {
	width: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$nAb)";
	filter: alpha(opacity=$nAb);
	-moz-opacity:$nDec;
	-khtml-opacity: $nDec;
	opacity: $nDec;
}
@mixin rotate($nDeg) {
	-ms-transform: rotate($nDeg);
	-webkit-transform: rotate($nDeg);
	transform: rotate($nDeg);
}*/
///////////////////////////////////////////////////////////////////////////////////
//ESTILO PLACEHOLDER
/*::-webkit-input-placeholder {
	color: $jewel;
}
:-moz-placeholder {
	color: $jewel;
}
::-moz-placeholder {
	color: $jewel;
}
:-ms-input-placeholder {
	color: $jewel;
}*/
///////////////////////////////////////////////////////////////////////////////////
//ANIMACIONES
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		/*-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);*/
		transform: translateY(0);
	}
	40% {
		/*-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);*/
		transform: translateY(-30px);
	}
	60% {
		/*-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);*/
		transform: translateY(-15px);
	}
}
/**/
@keyframes parpadear {
	/*0% {
		background: $governorbay;
		color: white;
	}
	50% {
		background: white;
		color: $governorbay;
	}
	100% {
		background: $governorbay;
		color: white;
	} */
}
///////////////////////////////////////////////////////////////////////////////////
//ESTILOS
/*====================
ADD
====================*/
$thin: 'Gotham HTF Thin';


$white: #fff;
$black: #565555;
$red: #fb040d;
$blue: #345B77;
$lightblue: #33CCCC;
$border: #D3D3D3;

#idPreloader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;

	// background: #33CCCC;
	background: #910281;
	background: -moz-radial-gradient(center, ellipse cover, #FFF 0%, #910281 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #FFF 0%, #910281 100%);
	background: radial-gradient(ellipse at center, #FFF 0%, #910281 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#910281',GradientType=1 );
}



.bodySinScroll {
	overflow: hidden;
}
@mixin center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.container {
	width: 100%;
	max-width: calc(1600px + 10%);
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 5% 0 5%;
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
	}
}
a {
	text-decoration: none;
	-webkit-transition: all .3s;
	transition: all .3s;
	// color: $black;
	color: inherit;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&.btn {
		display: block;
		// background: $white;
		color: $black;
		padding: .5em 1em;
		width: 100%;
		max-width: 15em;
		margin: 0 auto;
		border: 2px solid $black;
		text-align: center;
		box-sizing: border-box;
		&:hover {
			// background: magenta;
			// color: #fff;
		}
	}
	&.goLink {
		// font-family: $bold;
		&:hover {
			background: $black;
			color: $white;
		}
	}
}

label.error {
	display: none !important;
}
input {
	display: block;
	background: #fff;
	width: 100%;
	padding: .7em .5em;
	border: 1px solid $black;
	box-sizing: border-box;
	&[type="submit"] {
		-webkit-appearance: none;
		border-left: 0;
	}
	&:focus {
		outline: none;
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
	}
	&:hover {
		box-shadow: inset 0 0 15px 0 rgba(52,91,119,.5);
		transition: all ease-in-out .3s;
	}
	&.error {
		&:focus {
			box-shadow: inset 0 0 15px 0 rgba(255,0,0,.5);
			// box-shadow: inset 0 0 15px 0 red;
		}
	}
}

.slick-slider {
	.slick-slide {
		&:focus {
			outline: none;
		}
	}
}


/*====================
MAIN
====================*/

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Gotham HTF Book', sans-serif;
	color: $black;
	// font-size: .85em;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.column.over {
	border: 2px dashed #000;
}

ul#columns {
	@include clearfix;
	// display: flex;
	&>li {
		float: left;
		width: 23.5%;
		margin: 0 2% 2em 0;
		position: relative;
		&:nth-child(4n) {
			margin-right: 0;
		}
		.column {
			border: 1px solid #666666;
			// background-color: #ccc;
			border-radius: 5px;
			box-sizing: border-box;
			cursor: move;
			.thumbanil {
				min-height: 10em;
				img {
					display: block;
					width: 100%;
				}
			}
			.excerpt {
				padding: 1em 1em 2em 1em;
				h3 {
					margin: 0;
				}
				p {
					line-height: 150%;
				}
			}
			.edit {
				position: absolute;
				bottom: .5em;
				right: .5em;
				opacity: 0;
				transition: all ease-in-out .3s;
				ul {
					display: flex;
					align-items: center;
					li {
						padding: .3em;
						&:last-child {
							padding-right: 0;
						}
						i {
							cursor: pointer;
						}
					}
				}
			}
		}
		&:hover {
			.edit {
				opacity: 1;
			}
		}
	}
}



















// FOOTER

#footer {
	
}







@-webkit-keyframes ani-mouse {
	0% {opacity: 1;top: -25%;}
	15% {opacity: 1;top: 0%;}
	50% {opacity: 0;top: 50%;}
	100% {opacity: 0;top: 25%;}
}
@-moz-keyframes ani-mouse {
	0% {opacity: 1;top: -25%;}
	15% {opacity: 1;top: 0%;}
	50% {opacity: 0;top: 50%;}
	100% {opacity: 0;top: 25%;}
}
@keyframes ani-mouse {
	0% {opacity: 1;top: -25%;}
	15% {opacity: 1;top: 0%;}
	50% {opacity: 0;top: 50%;}
	100% {opacity: 0;top: 25%;}
}
 .scroll-btn {
 	// background: $black;
	display: block;
	text-align: center;
}
.scroll-btn > * {
	font-size: 3em;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	height: 1.5em;
	margin: 0 auto;
	box-sizing: border-box;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	// transform: translate(-50%, -50%);
	animation: ani-mouse 3s linear infinite;
	&:after {
		content: "\f107";
		font-family: FontAwesome;
		color: $black;
	}
}















// GLOBAL







///////////////////////////////////////////////////////////////////////////////////
//MEDIAQUERYS
@import "mediaquerys";
